@use 'temaB.scss';
$first-color: green;
$second-color: blue;
$third-color: red;
$text-color: #fff;
$nav-color: #26A69A;
$nav-color-hover: #04756F;
body {
    padding: 0;
    margin: 0;
}

div[class*="container-"] {
    margin-bottom: 20px;
}

.container-1 {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 100px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 5px;
    row-gap: 5px;
    & .box {
        border-radius: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .color1,
    .color2,
    .color3 {
        display: contents;
    }
    @for $i from 1 through 3 {
        $color: white;
        @if $i==1 {
            $color: $first-color
        }
        @else if $i==2 {
            $color: $second-color
        }
        @else if $i==3 {
            $color: $third-color
        }
        @for $x from 1 through 4 {
            & .color#{$i} .lighten-#{$x} {
                background-color: lighten($color, $x * 10);
            }
        }
        @for $y from 4 through 1 {
            & .color#{$i} .darken-#{$y} {
                background-color: darken($color, $y * 10);
            }
        }
        & .color#{$i} .base-color {
            background-color: $color;
        }
    }
}

.base-color {
    background-color: $first-color;
    color: $text-color;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .box {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.box-with-shadow {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-3 {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.heading {
    font-family: sans-serif;
}

nav {
    background-color: $nav-color;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    & div {
        padding: 10px 10px;
        color: white;
        display: flex;
        justify-content: center;
    }
    & div:hover {
        background-color: $nav-color-hover;
    }
}

.container-4 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: gray;
    box-sizing: border-box;
    padding: 10px;
    & .card {
        max-width: 230px;
        background-color: white;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "i" "c";
        margin-bottom: 10px;
    }
    & .card-image img {
        width: 100%;
    }
    & .card-content {
        padding: 5px 5px;
        display: grid;
        row-gap: 15px;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "description" "date" "button";
    }
    & .card-title {
        grid-area: title;
        font-size: 1.5em;
    }
    & .card-description {
        grid-area: description;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8em;
    }
    & .card-date {
        grid-area: date;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8em;
        justify-self: flex-end;
    }
    & .card button {
        grid-area: button;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8em;
        width: 100%;
        min-height: 30px;
        border: none;
        background-color: #43cc42;
        color: white;
    }
}

.green-text {
    color: #43cc42;
}

@media (min-width: 576px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        & div {
            align-content: center;
            & span {
                display: flex;
                justify-content: center;
            }
        }
    }
}